<template>
  <div>
    <Nuxt />
    <div v-if="errorMsg" class="flex justify-center items-center h-screen">
      <div>
        <h1 class="font-bold text-9xl text-center text-red-600">
          {{ errorMsg }}
        </h1>
      </div>
    </div>

    <div v-else class="">
      <div class="text-center p-12">
        <h1 class="text-2xl sm:text-6xl font-bold ">Openweathermap</h1>
      </div>
      <div class="flex justify-center p-12 ">
        <input
          type="text"
          v-model="newCity"
          class="border-b-2 border-black focus:outline-none w-52"
        />
        <button
          v-on:click="addCity"
          class="
            bg-black
            text-white
            py-2
            px-6
            ml-6
            focus:outline-none
            rounded-md
          "
        >
          add
        </button>
      </div>
      <div
        v-for="ciudad in citiesArray"
        :key="ciudad.id"
        class="bg-black text-white"
      >
        <div class="p-4">
          <h2 class="text-2xl">City: {{ ciudad.name }}</h2>
          <p v-if="ciudad.weather[0].main == 'Rain'" class="text-red-600">
            In this place is raining
          </p>
          <p v-else>Weather: {{ ciudad.weather[0].main }}</p>
        </div>
        <hr />
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "default",
  data() {
    return {
      APIkey: "45273ffa2eb92e330e20a87316ef1ed9",
      cities: [
        { name: "London" },
        { name: "Dallas" },
        { name: "Detroit" },
        { name: "Ciudad de Mexico" },
        { name: "Tokio" },
      ],
      citiesArray: [],
      errorMsg: "",
      newCity: [],
    };
  },
  created() {
    this.getCurrenWeather();
  },
  methods: {
    async getCurrenWeather() {
      //  this.cities.forEach((city) => {
      for (let city of this.cities) {
        await axios
          .get(
            `https://api.openweathermap.org/data/2.5/weather?q=${city.name}&units=imperial&APPID=${this.APIkey}`
          )
          .then((res) => {
            console.log(res.data);
            // add value to array with push()
            this.citiesArray.push(res.data);
          })
          .catch((error) => {
            console.log(error);
            this.errorMsg = "City No Found " + 404;
          });
      }
    },
    addCity: function () {
      axios
        .get(
          `https://api.openweathermap.org/data/2.5/weather?q=${this.newCity}&units=imperial&APPID=${this.APIkey}`
        )
        .then((res) => {
          console.log(res.data);
          // add value to array with push()
          this.citiesArray.push(res.data);
        })
        .catch((error) => {
          console.log(error);
          this.errorMsg = "City No Found " + 404;
        });
      this.cities.push({
        name: this.newCity,
      });
      this.newCity = [];
    },
  },

  computed: {},
};
</script>
